@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form_cd {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: silver;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}

form input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    outline: 0;
}

form input[type="submit"] {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
}

.form_cd h2 {

}